*
!.gitattributes
!.gitignore
!/BepInEx/
!/BepInEx/config/
!/BepInEx/config/*
/BepInEx/config/*
!/BepInEx/config/bastudio.thatslit.cfg
!/BepInEx/config/bastudio.thatslit.sync.cfg
!/BepInEx/config/com.DanW.QuestingBots.cfg
!/BepInEx/config/com.dvize.Donuts.cfg
!/BepInEx/config/me.skwizzy.lootingbots.cfg
!/BepInEx/config/com.Amanda.Graphics.cfg
!/BepInEx/plugins/
!/BepInEx/plugins/*
!/BepInEx/plugins/**
!/EscapeFromTarkov_Data/
!/EscapeFromTarkov_Data/StreamingAssets/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/assets/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/assets/standard assets/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/assets/standard assets/effects/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/assets/standard assets/effects/lightcookies/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/assets/standard assets/effects/lightcookies/textures/
!/EscapeFromTarkov_Data/StreamingAssets/Windows/assets/standard assets/effects/lightcookies/textures/*
*.csv
*.log